<!DOCTYPE html>
<html>
  <head>
    
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Estimator" />
    <meta property="og:description" content="Construction Cost Estimation in Few Clicks" />
    <meta property="og:url" content="http://estimator.com" />
    

    <meta name="description" content="Construction Cost Estimation in Few Clicks">
    <meta name="keywords" content="Construction,Estimation, Home Loan, Building, House Cost, Estimate">
    <meta name="author" content="Estimator">

    <title>Estimator - Construction Cost Estimation</title>


    

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
      .form-row {
        margin-top:50px;
        margin-bottom:15px;
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="{{url_for('static', filename='js/js.js')}}">
      
  
  </script>
  </head>
  <body>
<div class="container">
  <form action="/" method="POST">
<div class="row">
        <div class="input-field col s12">
          <input placeholder="Client Name" name="work" id="work" style="text-transform: uppercase" type="text" class="validate" required>
          <label for="work">Client Name</label>
        </div>
</div>

<div class="row">
        <div class="input-field col s12">
          <textarea name="add" id="add" style="text-transform: uppercase" class="materialize-textarea" required></textarea>
          <label for="add">Address</label>
        </div>
</div>

<div class="row">
<div class="input-field col s12">
    <select name="project" id ="project" required>
      <option value="" disabled selected>Choose your option</option>
      <option value="RESIDENTIAL BUNGALOW">RESIDENTIAL BUNGALOW</option>
      <option value="COMMERCIAL PROJECT">COMMERCIAL PROJECT</option>
      <option value="RESIDENTIAL PROJECT">RESIDENTIAL PROJECT</option>
    </select>
    <label>Select Project Type</label>
</div>
</div>

<div class="row">
        <div class="input-field col s12">
          <input placeholder="Length of Plinth (in ft.)" name="length" id="length" type="text" class="validate" required>
          <label for="length">Length of Plinth (in ft.)</label>
        </div>
</div>

<div class="row">
        <div class="input-field col s12">
          <input placeholder="Width of Plinth (in ft.)" name="width" id="width" type="text" class="validate" required>
          <label for="width">Width of Plinth (in ft.)</label>
        </div>
</div>
    
<div class="row">
        <div class="input-field col s12">
          <input placeholder="Total Builtup Area (in sq.ft.)" name="barea" id="barea" type="text" class="validate" required>
          <label for="barea">Total Builtup Area (in sq.ft.)</label>
        </div>
</div>

<div class="row">
        <div class="input-field col s12">
          <input placeholder="No. of Kitchens" name="kitchen" id="kitchen" type="text" class="validate"required>
          <label for="kitchen">No. of Kitchens</label>
        </div>
</div>   

<div class="row">
        <div class="input-field col s12">
          <input placeholder="No. of Bathrooms" name="bath" id="bath" type="text" class="validate" required>
          <label for="bath">No. of Bathrooms</label>
        </div>
</div>

<div class="row">
<div class="input-field col s12">
    <select name="floors" id ="floors" required>
      <option value="" disabled selected>Choose your option</option>
      <option value="GF">GF</option>
      <option value="GF + 1">GF + 1</option>
      <option value="GF + 2">GF + 2</option>
      <option value="GF + 3">GF + 3</option>
      <option value="GF + 4">GF + 4</option>
      <option value="GF + 5">GF + 5</option>
    </select>
    <label>Select No. of Floors</label>
</div>
</div> 
<div class="row">
        <div class="input-field col s12">
          <input placeholder="Email Id" name="mailid" id="mailid" style="text-transform: uppercase" type="email" class="validate" required>
          <label for="mailid">Email Id</label>
        </div>
</div>

<div class="row">
<button id="btngen" type="submit" class="waves-effect waves-light btn purple darken-1"><i class="material-icons left">input</i>Generate Estimate</button>
</div>

   
    </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  
  <?!= include("page-js"); ?>

  
  </body>
</html>
